.customers {
    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 5em;
        justify-items: start;
        margin: 1em 6em;
        padding: 0.5em;
        align-items: center;
        border: 1px solid $gray_clr;
        border-radius: 6px;
        box-shadow: 0 0 1px 2px #e8e8d9;
        color: #695959;
        &--wrapper {
            display: grid;
            &:nth-child(3) {
                height: 5em;
                width: 25em;
                display: flex;
                align-items: center;
                padding-right: 0.5em;
                textarea {
                    resize: none ;
                    @include input;
                    width: 28em;
                    height: 5em;
                }
            }
            &:nth-child(4) {
                display: inline-flex;
                background-color: $gray_clr;
                border-radius: 10px;
               .valid-icon, .edit-icon {
                    @include crud-icon;
                    color: $primary_clr;                                  
                }

                .delete-icon {
                    @include crud-icon;
                    color: $red_clr;                  
                }
                
            }
            input {
                @include input
            }
        }
    }
}