.products {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    justify-items: center;         
    margin: 1rem 6rem 0;
    padding: 1.3rem;
    gap: 20px ;
        &__card {
            position: relative;
            cursor: pointer;
            &--image {                            
                width: 270px;
                height: 250px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;                     
            }
            &--text{
                position: absolute;
                bottom: 8px;
                width: 100%;
                height: 40%;
                background-color: rgba(0,0,0,.6);
                color: #fff;
                padding: 10px;
                .title {
                    font-weight: 400 ;
                }
                .price {
                    margin-top: 1em;
                    color: $price_clr;
                }            
            } 
            &:hover {
                transform: scale(1.05);
                transition: transform ease-in-out .3s;
            }                          
        }
}
