@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$wrapper-width: 100%;

$dark_clr:#3A3A3A;
$primary_clr: #06bfe1;
$secondary_clr:#17ADB8;
$price_clr:#6eb5ff;
$bg_icon_clr: #6C6C6C;
$green-clr: #6ABE45;


$black_clr: rgba(0, 0, 0, 0.85);
$white_clr: rgb(232, 232, 232);
$tertiary_clr:#3F3F3F;
$seagreen_clr :#2e8b57;
$gray_clr: #ccc;
$red_clr:red;
$box-shadow: 1px 1px 3px #333;
$border-radius: 5px;
$box-shadow-clr:#e8e8d9;
$input-border-width: 1px;
$input-border-radius: 5px;
$input-padding: 2px;


html, body {
    height: 100%;  
    line-height: 1.7;     
    font-family: 'Poppins', sans-serif;        
}

#root {
    // display: flex;
    // flex-direction: column;   
    // height: 100%;    
}

li{
    list-style: none;
}
a {
    text-decoration: none;
    color: initial;
}
.wrapper-products, .wrapper-orders, .wrapper-customers {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width:$wrapper-width ;
    &__content {
        width: $wrapper-width;
    }
}
@mixin crud-icon {
    margin: .5rem;
    font-size: 1.5em;
    cursor: pointer; 
    display: block;    
}
@mixin input {
    outline: 0;
    border-radius: $input-border-radius;
    border-color: $primary_clr;
    padding: $input-padding; 
    border-width: $input-border-width; 
    margin: .2em; 
    border-style: groove;
}
@mixin form-input {
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    outline: 0;
}

@mixin button {
    border-color: $primary_clr;
    background-color: $primary_clr;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: auto;    
    border-radius: 5px;  
    border-style: solid;
    color: $white_clr;    
}

