.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items:center ;
    height: 5rem; 
    padding: 1em;   
    color: $white_clr;
    background-color: $primary_clr;   
}