.modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.65); 
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 400px;         
        background-color: $secondary_clr;
        color: #ddd;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 6em auto;  
        animation: display 500ms ease-out;
        &--title {
            margin-bottom: .5em;
        }
        .form {
            width: 100%;
            &__inptwrapper {
                display: grid;
                input {
                  @include form-input;
                }
                textArea {
                resize: none;
                @include form-input;
                height: 8em;                   
                }
            }
            &__wrapper-close {
                position: absolute;
                right: -15px;
                top: -15px;
                button{
                    border: 0;
                    background-color: #ccc;
                    color: #191B26;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
            &__wrapper-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 4em auto 1.5em;
                button {
                    @include button;
                    margin: .5em;
                    color: #000;
                    &:nth-child(2){
                        background-color: #cccccc;
                        border-color:#cccccc;
                    }
                }
            }
        }
    }
}

@keyframes display {
    from {
        transform: scale(0.9);
    } to {
        transform: scale(1);
    }
}

