.search-bar {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    align-items: center;
    margin: 2em 6rem;
    &__back {
        color: $primary_clr;
    }
    &__search {  
        display: inline-flex;    
        flex: 1;
        &--text {
            background-color: $gray_clr ;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #e8e8e8;
            font-size: 1.2em;  
            padding: .5rem;                    
        }
        &--input {
            border: 1px solid $gray_clr ;
            outline: 0;
            padding: 0 5px;
            width: $wrapper-width;           
            display: block;
        }      
    }
    &__addcustomer {
        @include button;        
        justify-self: right;
    }
}