.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.4rem repeat(2, 1fr);
    grid-template-areas:
        "1"
        "2"
        "3";
        justify-items: center;
    width: 25%;
    height: 100%;
    height: 99vh;
    box-shadow: 0 0 2px 4px #e8e8d9;
    &__title {
        grid-area: 1;
        // width: $wrapper-width;
        text-align: center;
        align-self: center;
        background-color: $secondary_clr;
        padding: 0.5em 4.5em;
        border-radius: 30px;
    }
    &__navig {
        grid-area: 2;
        align-self: center;
    }
    &__logout {
        grid-area: 3;
        align-self: flex-end;
        margin-bottom: 1rem;
    }
}